.dialogs {
    /*display: grid;*/
    /*grid-template-columns: 2fr 10fr;*/
    display: grid;
    grid-template-areas: "n c" "h h";
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.dialogsItems {
    grid-area: n;
    padding: 10px;

}

.dialogsItems .active{
    color: #0017ff;
}

.messages {
    grid-area: c;
    padding: 10px;
    text-align: right;
    width: 90%;
}

.messages .message {

}
.textarea_button {
    grid-area: h;
    text-align: center;
}